 /* The side navigation menu */
 .sidebar{
  
    display: block;
    transition: 0.5s; /* 0.5 second transition effect*/

}.pos{
    /* elements fixed*/
    position: fixed;
}
.menu{
    display: none;
}
 @media screen and (max-width: 768px) {
    .sidebar{
        /* position: absolute; */
        /* background-color: #818181; */
        /* z-index: 1; Stay on top */
        /* top: 0; Stay at the top */
        /* position: fixed; Stay in place */
        display:none;
        transition: 0.5s; /* 0.5 second transition effect*/
    }
    .menu{
        display: block;
    }
  } 
  body{
    background-color: white;
  }
  a{color: #212529;}
 .nav-pills .nav-link.active, .nav-pills .show > .nav-link.active{background-color: rebeccapurple;}